*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f0f2f5;
    color: #5f5f5f;
}

a{
    text-decoration: none;
    color: #5f5f5f;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 6px 6%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.logo img{
    width: 30px;
    margin-right: 15px;
    display: block;
}

.navbar-center ul li{
    display: inline-block;
    list-style: none;
}

.navbar-center ul li a{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px 8px;
    padding-right: 5px;
    position: relative;
}


.navbar-center ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #045be6;
    position: absolute;
    bottom: -15px;
    transition: width 0.3s;
}

.navbar-center ul li a:hover::after,
.navbar-center ul li a.active-link::after
{
    width: 100%;
}


.navbar-center ul li a img{
    width: 30px;
}

.nav-profile-img{
    width: 40px;
    display: block;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
}

.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    right: 0px;
    top: 0px;
    background: #41db51;
    position: absolute;
}

.search-box{
    background: #f0f2f5;
    width: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}


.navbar-left{
    display: flex;
    align-items: center;
}

.search-box img{
    width: 14px;
}

.search-box input{
    width: 100%;
    background: transparent;
    padding: 8px;
    outline: none;
    border: 0;
}

/*-----------------Navbar End ---------------------*/


